.btn {
  color: $color-black;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: $color-white;
  border: $color-dark-gray solid 2px;
  letter-spacing: 5px;
  padding: 1rem 4rem;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: $color-black;
  }
}
